SERVER_HOST = "0.0.0.0"
SERVER_PORT = "8000"

# Azure Search Service
AZURE_SEARCH_SERVICE_ENDPOINT = "https://ai-search-semic-poc.search.windows.net"
AZURE_SEARCH_INDEX_NAME = "ai4semantics"
AZURE_SEARCH_ADMIN_KEY = ""
AZURE_COGNITIVE_SEARCH_SERVICE_NAME = "ai-search-semic-poc"
AZURE_COGNITIVE_SEARCH_API_KEY = ""
AZURE_SEARCH_API_VERSION = '2023-11-01'
AZURE_SEARCH_SEMANTIC_SEARCH_CONFIG = semic-poc-semantic-config
AZURE_SEARCH_INDEX_IS_PRECHUNKED = False
AZURE_SEARCH_TOP_K = 5
AZURE_SEARCH_ENABLE_IN_DOMAIN = True
AZURE_SEARCH_CONTENT_COLUMNS = 
AZURE_SEARCH_FILENAME_COLUMN = 
AZURE_SEARCH_TITLE_COLUMN = 
AZURE_SEARCH_URL_COLUMN = 
AZURE_SEARCH_VECTOR_COLUMNS =
AZURE_SEARCH_QUERY_TYPE = semantic
AZURE_SEARCH_PERMITTED_GROUPS_COLUMN =
AZURE_SEARCH_STRICTNESS = 3
